.visuallyhidden { /* hiding text for icon buttons - still accessible by screen reader */
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* use aria-hidden for icons inside buttons, screen readers will ignore it */
/* if button is a div, give it a role="button" and tabindex="0" */


.classname:not(:empty) {

}

.classname:empty {
	display: none;
}

.blockquote:only-of-type {

}

.article p:nth-of-type(odd) {
	color: maroon;
}

.article p:nth-of-type(3n) { /* select every third p */
	color: maroon;
}

.article p:nth-of-type(4n+3) { /* starts at third => every forth */
	color: maroon;
}

.section button {
	color: unset; /* resets style to the closest parent, if not defined higher, it goes to browser default */
}

@supports (background-blend-mode: multiply) { /* IF THE BROWSER UNDERSTANDS THIS IT WILL READ THE CONDE BELOW */

}

@supports not (background-blend-mode: multiply) { /* IF THE BROWSER WON'T UNDERSTAND, IT WILL IGNORE THE CONDE BELOW */

}

p:first-line {
	/* styles */
}


@mixin backface-visibility($visibility: hidden) {
    backface-visibility: $visibility;
    -webkit-backface-visibility: $visibility;
    -moz-backface-visibility: $visibility;
    -ms-backface-visibility: $visibility;
    -o-backface-visibility: $visibility;
}

.front, .back {
    @include backface-visibility();
}

// checkout the 'object fit property'
@mixin photo-content($file) {
    content: url(#{$file}.jpg);
    object-fit: cover;
}

// BUILT-IN FUNCTIONS

$lagoon-blue: fade-out(#62fdca, 0.5);
$color: rgba(55,7,56, 0.5);
$amount: 0.1;
$color2: fade-in($color, $amount);

.math {
    background-color: $lagoon-blue; // rgba(98, 253, 202, 0.5);
}

// CALCULATIONS
.math {
    color: red + blue; // purple
}

// don't multiply units
// 10px * 10px = 100px * px => error
// 10px * 10 = 100px => correct




















